*.*~
Thumbs.db
.idea
.idea/*
.nginxrules
.Trash-1000
nbproject/*

app/config/parameters.yml
app/config/sphinx.conf
components/*
vendor/*
app/logs/*
app/cache/*
app/data/*
bin/boris
bin/shellwrap
bin/uaparser.php
web/uploads/*
web/uploads
web/bundles/*
web/media/*
web/media
web/bower/*
web/js/*
web/css/*
web/sitemap
web/sitemap/*
!web/js/.gitkeep
src/**/Model/map/*
src/**/Model/om/*
/app/propel/sql/*
ssl/client_header
ssl/client_body
ssl/server_header
ssl/server_body
atlassian-ide-plugin.xml
.php55
composer.lock
log/*
/node_modules
/bin/boris