{% extends '::base.html.twig' %}

{% block head %}
    <title>{% block title %}Просто добавь{% endblock %}</title>
    <meta charset="utf-8">
{% endblock head %}

{% block body %}

    <form action="{{ path('add') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input type="submit" value = "Добавить страницу" style="margin: 0 178px; padding: 5px 55px; "/>
</form>

{% endblock body %}