<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Welcome{% endblock %}</title>
    <meta charset="utf-8">
</head>
<body>
<p>Привет! Это основная страница</p>
<p><a href="http://test.asenchev.unstbl.ru/app_dev.php/wiki">Основная страница</a></p>
<p><a href="{{ path('add') }}">Добавить страницу</a></p>
<p><a href="{{ path('edit') }}">Редактировать страницу</a></p>
</body>
</html>

