<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Welcome{% endblock %}</title>
    <meta charset="utf-8">
</head>
<body>
<p>Привет! Это основная страница</p>
<p><a href="{{ path('homepage') }}">Основная страница</a></p>
<p><a href="{{ path('add') }}">Добавить страницу</a></p>

</body>
</html>

